body {
    background-image: linear-gradient(to bottom, #00a4cd, #00cd82,#00a4cd);
    background-size: 100% 200%;
    animation: colorsMove 2s linear infinite;
  }
  
  @keyframes colorsMove {
    0% {
      background-position-y: -100%;
    }
    50%{
        background-position-y: 0%;
    }
    100% {
      background-position-y: 100%;
    }
  }

  